
header{
	width:940px;
	height: 40px;
	border:solid 1px #aaa;
	color:#888;
	font-size: 38px; 
	font-family: arial;
	padding: 10px 10px;
	text-align: left;
	margin:10px 10px;
}
.full-banner{
	width:960px;
	height: 300px;
	background: url('../images/full-banner.jpg');
	background-repeat: no-repeat;
	border:solid 1px #aaa;
	color:#888;
	font-family: arial;
	text-align: center;
	margin:10px 10px;
	border-radius: 25px;
}
.bloco-arredondado{
	width:250px;
	height: 250px;
	border:solid 1px #aaa;
	color:#888;
	font-family: arial;
	float:left;
	text-align: center;
	margin:10px 10px;
	padding-left:10px;
	padding-top: 10px;
	border-radius: 25px;
}

.bloco-arredondado img {
	width:170px;
	height: 165px;
	padding-top: 10px;
	border-radius: 10px;
}

.bloco-duplo{
	width:400px;
	height: 250px;
	border:solid 1px #aaa;
	color:#888;
	font-family: arial;
	float:left;
	margin:10px 10px;
	padding-left:10px;
	padding-top: 10px;
	border-radius: 25px;
}
.bloco-duplo img {
	width:170px;
	height: 165px;
	padding-left: 10px;
	padding-top: 40px;
	border-radius: 10px;
}